.gradient-background {
  background: linear-gradient(300deg, #b3c8cf, #bed7dc, #e5ddc5, #f1eedc);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}


.nav-link {
      color: black !important; /* Important to override Bootstrap's default styles */
 }

 .nav-link.active {
   background-color: #dfd0b8 !important; /* Important to override Bootstrap's default styles */
  }

  #itd2-header .service-experience p {
  margin: 0px 12px; /* Adds some spacing above and below the text */
  font-weight: 600;
  font-size: 2rem;
  color: #1a5286 !important;
}



